body
{
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  color: #2F434B;
}

header
{
  padding: 15px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #3C6275), color-stop(1, #638191));
  background-image: -o-linear-gradient(right, #3C6275 0%, #638191 100%);
  background-image: -moz-linear-gradient(right, #3C6275 0%, #638191 100%);
  background-image: -webkit-linear-gradient(right, #3C6275 0%, #638191 100%);
  background-image: -ms-linear-gradient(right, #3C6275 0%, #638191 100%);
  background-image: linear-gradient(to right, #3C6275 0%, #638191 100%);
  box-shadow: 0 10px 15px rgba(0,0,0,0.2);
  color: white;
}

header h1
{
  margin: 0 0 0 20px;
  font-size: 3.5em;
  font-weight: 100;
}

.content
{
  margin: 15px;
}

#menu, #tabs, #filter
{
  display: inline-block;
  cursor: pointer;
}

#menu ul, #tabs ul, #filter ul
{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  column-count: 10;
  -webkit-column-count: 10;
}

#menu li:hover, #tabs li:hover, #filter li:hover
{
  background-color: #F6F6F6;
}

#menu a:link, #tabs a:link, #filter a:link
{
    text-decoration: none;
}

.applicationUserSummary, .cemeterySummary, .plotSummary
{
  display: inline-block;
  margin: 15px;
  padding: 10px;
  border: 1px solid #3C6275;
  border-left-width: 7px;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0 10px 15px rgba(0,0,0,0.2);
  cursor: pointer;
  max-width: 500px;
}

.applicationUserSummary, .cemeterySummary:hover, .plotSummary:hover
{
  border-left: 7px solid #B13A39;
  background-color: #F6F6F6;
}

.applicationUserSummary, .cemeterySummary img, .plotSummary img
{
  display: inline-block;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.applicationUserSummary, .cemeterySummary h1, .plotSummary h1
{
  margin-top: 0;
  font-size: 1.2em;
  font-weight: 600;
}

.applicationUserSummary, .cemeterySummary ul, .plotSummary ul
{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  column-count: 2;
  -webkit-column-count: 2;
}

.details
{
  display: inline-block;
  margin-left: 10px;
}

.lastUpdated
{
  margin-bottom: 0;
  font-size: 0.75em;
}